/* Variáveis Globais */
:root {
    --cor-primaria: #49708a;
    --cor-secundaria: #3aafa9;
    --cor-terciaria: #1e2b33;
    --cor-texto: #ffffff;
    --fonte-padrao: 'Times New Roman', Times, serif;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Animações */
@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Corpo da página */
body {
    font-family: var(--fonte-padrao);
    background-color: var(--cor-terciaria);
    color: var(--cor-texto);
    line-height: 1.6;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
    padding-top: 80px;
}

/* Cabeçalho */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--cor-primaria);
    padding: 20px 40px;
    color: var(--cor-texto);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid var(--cor-secundaria);
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin: 0 25px;
}

.menu a {
    color: var(--cor-texto);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: var(--cor-secundaria);
}

/* Hero Section */
.hero {
    padding: 40px;
    background: #274156;
    color: var(--cor-texto);
}

/* Botões */
.btn, .btn-link {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.btn:hover, .btn-link:hover {
    background-color: #3aafa9;
    color: #ffffff;
}
.content{
    padding: 50px;
}
/* Contato */
.lista-redes {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    max-width: 300px;
}

.lista-redes li {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    color: var(--cor-texto);
    background-color: #22343c;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.lista-redes a {
    text-decoration: none;
    color: var(--cor-texto);
    display: block;
}

.lista-redes a:hover {
    text-decoration: underline;
    color: var(--cor-secundaria);
}

/* Rodapé */
footer {
    background: #1f3b4d;
    color: var(--cor-texto);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
